/* familia de fuente */
h1{
    /* tipo de letra */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    /* tamaño de letra */
    /* el tamaño por defecto enlas paginas es de 16px */
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}

h4{
    /* proporcion en negrita del texto */
    /* valoresde 100 a 800 o [normal bold*/
    font-weight: bold;

}
small{
    /* estilo de feunte */
    /* normal| oblique | itatic */
    font-style: italic;
}

.texto-footer{
    /* propiedad de texto estilo SHORTHAND */
    /* font-style, font-weight, font-size. font-family */
    font: italic 100 10px Arial ;
}